#card-grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}

  
  .card {
    cursor: pointer;
    background-color: transparent;
    perspective: 1000px;
    margin:4%;

  }
  
  .card h1 {
    font-size: 25px;
    border-bottom: 1px #fff solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .card img {
    width: 310px;
    height: 250px;
    object-fit: cover;
    margin:1%;
    transform: translate(-3px, -3px);
    border-radius: 5px;
  }
  
  .card-inner {
    width: 310px;
    height: 250px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 310px;
    height: 250px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: teal;
    border-radius: 5px;
  }
  
  .card-back {
    background-color: #333;
    color: white;
    padding-left: 5%;
    padding-right:5%;
    transform: rotateY(180deg);
  }
  
  .card li {
    list-style: none;
    padding-bottom: 10px;
  }

  #explore-page, #recipes-page{
   text-align: center;
  }
  
  
  @media (max-width: 800px) {
    #card-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      }
  }
  
  @media (max-width: 600px) {
   
    #card-grid{
      grid-template-columns:1fr;
      }
  }