:root{
    --main-light: #e58c3d;
    --main-dark: #213037;
    --main-med2: #29898b;
    --main-med1:#257150;
    --white: white;
    --background:white;
    --header:radial-gradient(circle, rgba(229,140,61,1) 36%, rgba(255,214,83,1) 50%, rgba(235,180,5,1) 51%, rgba(229,140,61,1) 100%);
  /* font-family: 'Sen', sans-serif;
     font-family: 'Sail', cursive; */}
h4{
    font-family: 'Sen', sans-serif !important;
    color: var(--main-dark) !important;  
}
form input{
    border:none;
    border-color: var(--main-light);
    border-width:2px;
    border-style: solid;
    margin:1%;
    border-radius: 20px;
    line-height:2em;
}
button{
    background: var(--main-dark);
    border:none;
    color: var(--main-light);
    line-height: 2em;
    border-radius: 5px;
}
button:hover{
    background: var(--main-light);
    color: var(--main-dark);
}