
body{
  margin:0;
  background: var(--background);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding:0;
  color: var(--main-dark)
}
:root{
  --main-light: #e58c3d;
  --main-dark: #213037;
  --main-med2: #29898b;
  --main-med1:#257150;
  --white: white;
  --background:white;
  --header:radial-gradient(circle, rgba(229,140,61,1) 36%, rgba(255,214,83,1) 50%, rgba(235,180,5,1) 51%, rgba(229,140,61,1) 100%);
/* font-family: 'Sen', sans-serif;
   font-family: 'Sail', cursive; */
}
/* ------------------------main header--------------------------------------- */
#main-header{
display:grid;
grid-template-columns: 1fr 1fr 1fr;
padding-left:20%;
padding-right:20%;
background: var(--header);
/* max-height needs to change on mobile and larger sizes. */
max-height: 15vh;
}
#main-header img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    padding:0%;
    padding-top:2%;
    animation: logoMove 2s infinite;
}
#main-header h1{
  font-size: 3.5em;
  font-family: 'Sail', cursive;
  color: var(--main-dark)
}
#community{
transform: translate(20%, -30%);
}
#cookbook{
  float: left;
  transform: translate(-30%, -30%);
}
/* ----------------------NAV BAR----------------------------------------------------------------------------------- */
/* Add a black background color to the top navigation */
.topnav {
  background-color: var(--main-dark);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* Add a color to the active/current link */
.topnav a:active {
background-color: var(--main-light);
color: var(--main-dark);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
float: right;
}
/* ----------------------------MAIN BODY CSS------------------------------------- */

#main-body{
margin:5%;
margin-top:2%;
padding-bottom: 5%;
}
#main-body h1 {
  color: var(--main-light);
  font-family: 'Sen', sans-serif;
}
/* ----------------------About Page-------------------- */
#AboutPage{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  text-align: center;
  }
  #AboutPage img{
    width: 300px;
    height: 500px;
    object-fit: cover;
    filter: blur(.2px) grayscale(30%) drop-shadow(5px 5px 5px rgb(129, 129, 129));
    border-radius: 5px;
  }
  #AboutContent{
    text-align: center;
    padding:5%;
    line-height: 1.8;
  }
  #CreatorRecipes{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:2%;
    border-color: var(--main-med2);
    border-width:3px;
    border-radius:10px;
    border-style: solid;
    text-align: center;
  }
  #CreatorRecipes-title{
    text-align: center;
  }
  .Video{
    margin:6%;
  }
  /* -------------------------EXPLORE PAGE------------------------------------ */
  #explore-form{
    text-align: center;
    margin-bottom:2%;
  }
  #explore-submit{
    all: unset;
    border-color: var(--main-light);
    border-width:1px;
    border-style:solid;
    border-radius: 3px;
    background-color: var(--main-light);
    cursor: pointer;
    margin-left:.5%;
    padding:.4%;
  }
  #explore-search-bar{
    line-height: 2em;
  }
  #explore-search-bar:active{
    border-color: var(--main-dark);
  }
/* -----------------animations------------------------------------------------- */

@keyframes logoMove{
50%{  transform: rotate(10deg)}
}

/* -----------------MEDIA QUERIES--------------------- */
@media screen and (max-width: 1200px) {
  /* #main-header{
    /* max-height: 25vh; */
  /* } */
}

@media screen and (max-width: 1000px) {
  #main-header h1{
    font-size: 2.5em;
  }
  #community{
    transform: translate(20%, -30%);
    }
    #cookbook{
      float: left;
      transform: translate(-30%, -30%);
    }
    #CreatorRecipes{
      grid-template-columns: 1fr 1fr;
    }
    #AboutPage{
      grid-template-columns: 1fr 1fr;
      }
}
@media screen and (max-width: 600px) {
  .topnav a{
    font-size: 100%;
    padding:2%;
    margin:0;
  }
  #main-header h1{
    font-size: 2em;
  }
  #community{
    transform: translate(0, 0%);
    }
  #cookbook{
    float: left;
    transform: translate(0%,0);
  }
  #logo{
    visibility: hidden;
  }
  /* ----about page---------------- */
  #AboutPage{
    display:grid;
    grid-template-columns: 1fr;
    text-align: center;
    }
    #AboutPage img{
      width: 300px;
      height: 300px;
    }
    #CreatorRecipes{
      grid-template-columns: 1fr;
    }
    #about-image{
      display: none;
    }
}