:root{
  --main-light: #e58c3d;
  --main-dark: #213037;
  --main-med2: #29898b;
  --main-med1:#257150;
  --white: white;
  --background:white;
  --header:radial-gradient(circle, rgba(229,140,61,1) 36%, rgba(255,214,83,1) 50%, rgba(235,180,5,1) 51%, rgba(229,140,61,1) 100%);
/* font-family: 'Sen', sans-serif;
   font-family: 'Sail', cursive; */
}


    #card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }

  .card {
    cursor: pointer;
    background-color: transparent;
    perspective: 1000px;
    margin:4%;

  }
  
  .card h1 {
    font-size: 25px;
    border-bottom: 1px #fff solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .card img {
    width: 310px;
    height: 250px;
    object-fit: cover;
    margin:1%;
    transform: translate(-3px, -3px);
    border-radius: 5px;
  }
  
  .card-inner {
    width: 310px;
    height: 250px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 310px;
    height: 250px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: var(--main-med2);
    border-radius: 5px;
  }
  
  .card-back {
    background-color: var(--main-dark);
    color: white;
    padding-left: 5%;
    padding-right:5%;
    transform: rotateY(180deg);
  }
  
  .card li {
    list-style: none;
    padding-bottom: 10px;
  }
  
  @media (max-width: 800px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 500px) {
    .cards {
      grid-template-columns: 1fr;
    }
    .card img {
    width: 310px;
    height: 250px;
      object-fit: contain;
    }
  }